<div class=" contenedor-footer container-fluid" id="contacto">
    <div class="row linea">
        <div class="content-foo col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xxl-3 container-fluid primero text-center">
            <h4>TELEFONO</h4>
            <p>+54 9 11 4068-5237</p>
            <p><span>......</span></p>
        </div>
        <div class="content-foo col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xxl-3 container-fluid text-center tamaño">
            <h4>EMAILS</h4>
            <p>melinaemilceb@gmail.com</p>
            <p>madesarrolloweb@gmail.com</p>

        </div>
        <div class="content-foo col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3 col-xxl-3 container-fluid   text-center ">
            <h4>LOCALIDAD</h4>
            <p>Burzaco, Buenos Aires</p>
            <p><span>..............................</span> </p>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h2 class="titulo-final">Melina Beretta</h2>

        </div>
        <div class="class=col-12 nosotros ">
            <app-iconos-sociales>
            </app-iconos-sociales>

        </div>
        <div class="class= col-12 ">

            <h6 class="nosotros"><a href="https://madesarrolloweb.com/">Página diseñada por &copy; M&A Desarrollo Web</a></h6>
        </div>
    </div>
</div>