<div class="container-fluid " id="acerca">

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5 col-xl-4 col-xxl-4">
            <img src="../../../assets/Meli2.jpg" class="img-fluid foto" alt="Mi Foto">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7 col-xl-8 col-xxl-8">
            <h1 class="nombre">Melina Emilce Beretta</h1>
            <h2 class="titulo">Desarrolladora Front End</h2>
            <span class="acerca">
                <p class="bajar">Acerca de mí...</p>
                <p>En estos últimos meses, estuve desarrollándome en las tecnologías de información, si bien vi varios rubros de TI, me apasioné por el diseño y la Programación Web, siendo esto lo que me atrapó.
                    Interiorizándome y aprendiendo HTML 5, CSS 3, JavaScript, Java, TipeScript, Angular y Bootstrap.</p>
            </span>
        </div>

        <!--<div-- class="col-xs-12 col-sm-12 col-md-0 col-lg-0 xl-0 xxl-1"></div-->

        <!--<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 centra">
            <span class="acerca">
            <h3>Acerca de mí</h3>
            <p>En estos últimos años, estuve desarrollándome en las tecnologías de información, si bien vi varios rubros de TI, me apasioné por el diseño y la Programación Web, siendo esto lo que me atrapó.
                Interiorizándome y aprendiendo HTML 5, CSS 3, JavaScript, Java, TipeScript, Angular y Bootstrap, hoy en día estoy ampliando mis conocimentos en el back end, para lograr un conocimiento de todas las etapas del desarrolo web, lo que se conoce como FullStack. </p>
        </span>
        </div>-->

    </div>

</div>