<div class="container-fluid" id="experiencia">
    <h4 class="principal prin">Experiencia Laboral</h4>
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne" style="color:#4a2780;">
                    Diseñadora Web Freelance<b>... </b> <img src="../../../assets/logodweb.jpg" class="adecco"> 
        </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <ul>
                        <li>Habilidades en HTML5 y CSS3. Conocimientos en Javascript.</li>
                        <li>Creatividad para lograr visualizar las animaciones, transiciones y cambios en la aplicación del estilo visual en código.</li>
                        <li>Dominar los estándares internacionales para la construcción de HTML, dictados por la W3C.</li>
                        <li>Conocimientos de diseño y manejo de los elementos visuales de un sitio web.</li>
                        <li>Entender el trabajo del Diseñador Web y del Desarrollador Back-end, manejando los conceptos de usabilidad, accesibilidad y experiencia de usuario.</li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo" style="color:#4a2780 ;">
                    Programadora Front End M&A<b>... </b> <img src="../../../assets/logoma.png" class="adecco"> 
                </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <ul>
                        <li>Traducir el diseño de un sitio a código HTML y CSS.</li>
                        <li>Estructurar el contenido de forma semántica.</li>
                        <li>Asegurar la accesibilidad de los sitios.</li>
                        <li>Controlar las tipografías, plantillas, formas del diseño y la interactividad.</li>
                        <li>Construcción con Angular y Bootstrap.</li>
                        <li>Compilación y subida a hosting, asegurando la completa funcionalidad final.</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>


    <h4 class="principal seg" id="formacion">Cursos Realizados</h4>
    <div class="accordion accordion-flush" id="accordionFlushExample1">
        <!--<div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingEight">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight" style="color:#4a2780 ;">
                    Udemy<b>... </b> <img src="../../../assets/logou.png" class="adecco"> 
                </button>
            </h2>
            <div id="flush-collapseEight" class="accordion-collapse collapse" aria-labelledby="flush-headingEight" data-bs-parent="#accordionFlushExample1">
                <div class="accordion-body">
                    <ul>
                        <li>HTML5</li>
                        <li>CSS3</li>
                        <li>JavaScript</li>
                        <li>Introduction al Desarrollo Web</li>
                        <li>Node.js</li>
                        <li>Angular</li>
                    </ul>
                </div>
            </div>
        </div> -->

        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingEight">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight" style="color:#4a2780 ;">
                    FreeCodeCamp<b>... </b> <img src="../../../assets/logofreecode.png" class="adecco"> 
                </button>
            </h2>
            <div id="flush-collapseEight" class="accordion-collapse collapse" aria-labelledby="flush-headingEight" data-bs-parent="#accordionFlushExample1">
                <div class="accordion-body">
                    <ul>
                        <li>HTML5</li>
                        <li>CSS3</li>
                        <li>JavaScript</li>

                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>