<div class="container-fluid" id="habilidades">
    <div class="row">

        <div class=" col-xs-6 col-sm-6 col-md-4 col-lg-2 xl-2 xxl-2 img-fluid text-center">

            <circle-progress class="img-fluid" [percent]="80" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8" [outerStrokeColor]="'#8653d4'" [innerStrokeColor]="'#ecec35'" [animation]="true" [animationDuration]="300" [backgroundGradient]="true" [backgroundColor]="'#4a2780'"
                [subtitle]="'HTML'" [subtitleFontSize]="'30'" [subtitleColor]="'#FFF'" [subtitleFontWeight]="'700'" [unitsFontSize]="'30'" [unitsColor]="'#fff'" [titleFontSize]="'30'" [titleColor]="'#FFF'">

            </circle-progress>

        </div>

        <div class=" col-xs-6 col-sm-6 col-md-4 col-lg-2 xl-2 xxl-2 img-fluid text-center">

            <circle-progress class="img-fluid" [percent]="70" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8" [outerStrokeColor]="'#8653d4'" [innerStrokeColor]="'#ecec35'" [animation]="true" [animationDuration]="300" [backgroundGradient]="true" [backgroundColor]="'#4a2780'"
                [subtitle]="'CSS'" [subtitleFontSize]="'30'" [subtitleColor]="'#FFF'" [subtitleFontWeight]="'700'" [unitsFontSize]="'30'" [unitsColor]="'#fff'" [titleFontSize]="'30'" [titleColor]="'#FFF'">

            </circle-progress>

        </div>

        <div class=" col-xs-6 col-sm-6 col-md-4 col-lg-2 col-xl-2 col-xxl-2 img-fluid text-center">

            <circle-progress class="img-fluid" [percent]="20" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8" [outerStrokeColor]="'#8653d4'" [innerStrokeColor]="'#ecec35'" [animation]="true" [animationDuration]="300" [backgroundGradient]="true" [backgroundColor]="'#4a2780'"
                [subtitle]="'JAVASCRIPT'" [subtitleFontSize]="'25'" [subtitleColor]="'#FFF'" [subtitleFontWeight]="'700'" [unitsFontSize]="'30'" [unitsColor]="'#fff'" [titleFontSize]="'30'" [titleColor]="'#FFF'">

            </circle-progress>

        </div>
        <div class=" col-xs-6 col-sm-6 col-md-4 col-lg-2 col-xl-2 col-xxl-2 text-center">

            <circle-progress class="img-fluid" [percent]="60" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8" [outerStrokeColor]="'#8653d4'" [innerStrokeColor]="'#ecec35'" [animation]="true" [animationDuration]="300" [backgroundGradient]="true" [backgroundColor]="'#4a2780'"
                [subtitle]="'ANGULAR'" [subtitleFontSize]="'25'" [subtitleColor]="'#FFF'" [subtitleFontWeight]="'700'" [unitsFontSize]="'30'" [unitsColor]="'#fff'" [titleFontSize]="'30'" [titleColor]="'#FFF'">

            </circle-progress>

        </div>
        <div class=" col-xs-6 col-sm-6 col-md-4 col-lg-2 col-xl-2 col-xxl-2 text-center">

            <circle-progress class="img-fluid" [percent]="60" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8" [outerStrokeColor]="'#8653d4'" [innerStrokeColor]="'#ecec35'" [animation]="true" [animationDuration]="300" [backgroundGradient]="true" [backgroundColor]="'#4a2780'"
                [subtitle]="'BOOTSTRAP'" [subtitleFontSize]="'25'" [subtitleColor]="'#FFF'" [subtitleFontWeight]="'700'" [unitsFontSize]="'30'" [unitsColor]="'#fff'" [titleFontSize]="'30'" [titleColor]="'#FFF'">

            </circle-progress>

        </div>
        <div class=" col-xs-6 col-sm-6 col-md-4 col-lg-2 col-xl-2 col-xxl-2 text-center">

            <circle-progress class="img-fluid" [percent]="40" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8" [outerStrokeColor]="'#8653d4'" [innerStrokeColor]="'#ecec35'" [animation]="true" [animationDuration]="300" [backgroundGradient]="true" [backgroundColor]="'#4a2780'"
                [subtitle]="'NODE.JS'" [subtitleFontSize]="'30'" [subtitleColor]="'#FFF'" [subtitleFontWeight]="'700'" [unitsFontSize]="'30'" [unitsColor]="'#fff'" [titleFontSize]="'30'" [titleColor]="'#FFF'">

            </circle-progress>

        </div>
    </div>

</div>