<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-xl-6 col-xxl-6">
            <app-foto></app-foto>

        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xl-2 col-xxl-2 vacio">

        </div>
        <div class=" col-xs-12 col-sm-1 col-md-1 col-lg-1 col-xl-2 col-xxl-2 iconos">

        </div>

        <div class=" col-xs-12 col-sm-1 col-md-2 col-lg-2 col-xl-2 col-xxl-2 hambur">
            <app-dropdown></app-dropdown>
        </div>


    </div>
</div>