<div class="container-fluid">
    <div class="row">
        <h3 class="principal" id="testimonios">Testimonios</h3>
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 xl-3 xxl-3">
            <div class="bordec">
                <img src="../../../assets/tes31.jpg" class="rounded mx-auto d-block foto img-fluid">
                <h4>Pablo Ortiz</h4>
                <h4>RRHH</h4>
                <p>Carla es una profesional muy eficaz y además es una persona muy comprometida a nivel laboral, brindando soluciones a los problemas surgidos durante mi gestión.</p>

            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 xl-3 xxl-3">
            <div class="bordec">

                <img src="../../../assets/tes32.jpg" class="rounded mx-auto d-block foto img-fluid">
                <h4>Paula Arias</h4>
                <h4>RRHH</h4>
                <p>Carla es responsable, comprometida, organizada, cuenta con gran iniciativa y dinamismo para la ejecución de tareas. Es un gusto compartir los días de trabajo con una excelente persona y profesional como lo es Carla.</p>

            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 xl-3 xxl-3">
            <div class="bordec">
                <img src="../../../assets/tes33.jpg" class="rounded mx-auto d-block foto img-fluid">
                <h4>Luis Boer</h4>
                <h4>Abogado</h4>
                <p class="text-justify">Carla es excelencia. En primer lugar por su responsabilidad trabajando, gran profesional, como pocas. En segundo lugar y para mí más importante, como persona. Comprometida con el otro, solidaria, siempre dispuesta a dar una mano sin esperar
                    nada a cambio. Un ser humano de esos que da gusto cruzarse y compartir cualquier actividad. Simplemente buena gente, con todo lo que eso implica.
                </p>

            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3 xl-3 xxl-3">
            <div class="bordec">
                <img src="../../../assets/tes34.jpg" class="rounded mx-auto d-block foto img-fluid">
                <h4>Guillermo Katilius</h4>
                <h4>Human Resources Manager</h4>
                <p>Comprometida y autónoma, Carla resuelve con eficiencia e interés los desafíos constantes que impone el rítmo de la fábrica y las exigencias de RRHH Corporativo. Proactividad, curiosidad y capacidad de generar empatía completan su perfil.
                    Sin dudas, Carla tiene un gran futuro en el área de RRHH.</p>

            </div>
        </div>
    </div>
</div>